In [3]:
def new_fun(name):
    print(f'Hi {name}')

In [4]:
new_fun("Kate")

Hi Kate

In [5]:
def sums_n(n1, n2):
    return(n1 + n2)

In [6]:
result = sums_n(3, 4)

In [7]:
result

7

In [26]:
def num_ig(num):
    
    new_var = []
    for i in num:
        if i%2 ==0:
            new_var.append(i)
        else:
            pass
    return new_var

In [28]:
num_ig([45,57, 6, 99])

[6]

In [44]:
hours = [("Kate", 200), ("Joe", 3600), ("Lisa", 400)]

In [42]:
def work_hour(hours):
    current_max = 0
    employ = ''
    
    for i,j in hours:
        if j > current_max:
            current_max = j
            employ = i
    
    return(current_max, employ)

In [45]:
work_hour(hours)

(3600, 'Joe')

In [46]:
name, hiurs = work_hour(hours)

In [47]:
name

3600

In [48]:
hiurs

'Joe'

In [1]:

from random import shuffle

In [2]:
def my_f(new_l):
    shuffle(new_l)
    return(new_l)

In [3]:
def guess_p():
    num = ' '
    
    while num not in ["0", "1", "2"]:
        num = input("guess number 0, 1, or 2:")
    return int(num)

In [7]:
def final_f(new_l, guessed):
    if shuff[guessed] == "O":
        print("correct")
    else:
        print('wrong')

In [8]:
new_l = [' ', 'O', ' ']
shuff = my_f(new_l)
guessed = guess_p()
final_f(shuff, guessed)

guess number 0, 1, or 2:66
guess number 0, 1, or 2:1
correct

In [12]:
def myfunc(*item):
    print(item)

In [13]:
myfunc(10,300.45, 76)

(10, 300.45, 76)

In [14]:
def newf(**dics):
    if 'frute' in dics:
        print('my frute {}'.format(dics['frute']))
    else:
        print('no frute')

In [15]:
newf(frute= 'peach')

my frute peach

In [16]:
def molly(*args, **dicts):
    print('I love {} {}'.format(args[0], dicts['veggie']))

In [17]:
molly(10,20, veggie='salad', cat='dog')

I love 10 salad

In [21]:
def myfunc(strr):
    new_word = strr[0]
    print(new_word)

In [22]:
myfunc("absolutelly")

a

In [87]:
def myfunc(strr):
    arr = []
    for i in range(len(strr)):
        if i%2 == 0:
            arr.append(strr[i].lower())
        else:
            arr.append(strr[i].upper())
    return ''.join(arr)

In [88]:
myfunc("ofcourse")

'oFcOuRsE'

In [120]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [121]:
lesser_of_two_evens(2,5)

5

In [153]:
def animal_crackers(text):
    new_l = text.split()
    return new_l[0][0] == new_l[1][0]

In [154]:
animal_crackers('Crazy Kangaroo')

False

In [160]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20:
        return True
    elif n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [162]:
makes_twenty(2,3)

False

In [233]:
def old_macdonald(name):
    for i in name.split():
        print(i[1])
        if i[0]:
            result = i.capitalize()           
    return ''.join(result)

In [234]:
old_macdonald('macdonald')

a

'Macdonald'

In [236]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [237]:
old_macdonald('macdonald')

'MacDonald'

In [263]:
from random import shuffle
def master_yoda(text):
    new_t = text.split()
    shuffle(new_t)
    return(' '.join(new_t))

In [264]:
master_yoda('I am home')

'am I home'

In [280]:
def almost_there(n):
    if 90 < n < 110  or 190 < n < 210:
        return True
    return False

In [286]:
almost_there(209)

True

In [309]:
def has_33(nums):
    for i in range(len(nums)- 1):
        if nums[i]==nums[i+1]:
            return True
    return False

In [312]:
has_33([3,1,3])

False

In [347]:
def paper_doll(text):
    result = ''
    for char in text:
        result += char * 3
    return result

In [348]:
paper_doll('Hello')

'HHHeeellllllooo'

def blackjack(a,b,c):

In [448]:
def blackjack(a,b,c):
    nums = (a,b,c)
    total = a+b+c
    if (total <= 31) and 11 in nums:
        return  total - 10 
    elif total > 21:
            return "Dang"    
    else:
        return total

In [450]:
blackjack(9,9,11)

19

In [451]:
def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [482]:
def summer_69(arr):
    
    for i in arr:
        if 6 or 9 in arr:
            return sum(arr[:x]) + sum(arr[y:])
        else:
            return sum(arr)

In [483]:
summer_69([4, 5, 6, 7, 8, 9,2])

39

In [484]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [485]:
summer_69([4, 5, 6, 7, 8, 9,2])

11

In [486]:
summer_69([2, 1, 6, 9, 11])

14

In [487]:
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [488]:
spy_game([1,2,4,0,0,7,5])

True

In [489]:
def count_primes2(num):
    primes = [2]
    x = 3
    if num < 2:
        return 0
    while x <= num:
        for y in primes:  # use the primes list!
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [490]:
count_primes2(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [491]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [492]:
print_big('a')

  *
 * *
*****
*   *
*   *